body {
    font-family: 'Source Serif Pro', serif; 
    background-color: #fffffe;
    padding-top: 70px;
}

.btn-outline {
    border-color: #F1BDB2;
    color: #F1BDB2;
}

.btn-outline:hover {
    background-color: #F1BDB2;
}

h5, span, label {
    color: #9F6B46;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(159, 107, 70, 0.2);
    border-radius: 50%;
}

.card-header {
    background: rgba(159, 107, 70, 0.2);
}

.nav-link.active {
        color: #9F6B46 !important;
}

/* navber */
.brand-text {
    font-family: 'Source Serif Pro', serif;
    color: #4a3b2d;
    font-style: italic;
    letter-spacing: 0.5px;
}

.nav-text-brown {
    color: #9F6B46 !important;
    font-weight: 500;
}

.menu-link {
    display: flex;
    align-items: center;       
    justify-content: center; 
    color: #9F6B46;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.2s ease;
}
