@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    color: #9F6B46;
}

.topround {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
}

.custom-tab{
    flex: 0 0 150px;
    background-color: #ffffff;
}

.custom-tab button{
    color: #9F6B46;
}

.custom-tab:hover{
    flex: 0 0 150px;
    background-color: #9F6B46;
}

.custom-tab:hover button{
    color: #ffffff;
}

.custom-tab,
.custom-tab button {
  transition: all 0.2s ease;
}

.custom-btn{
    color: #F1BDB2;
    background-color: #ffffff;
    border-color: #F1BDB2;
}

.custom-btn:hover{
    color: #ffffff;
    background-color: #F1BDB2;
    border-color: #ffffff;
}

.pagenate-number{
    width: 40px;
    height: 40px;
    color:#9F6B46;
    background-color: #ffffff;
    transition: all 0.2s ease;
}

.pagenate-number:hover{
    width: 40px;
    height: 40px;
    color:#ffffff;
    background-color:#F1BDB2;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.pagenate-character{
    width: 48px;
    height: 40px;
    color:#9F6B46;
    background-color: #ffffff;
    transition: all 0.2s ease;
}

.pagenate-character:hover{
    width: 48px;
    height: 40px;
    color:#ffffff;
    background-color:#F1BDB2;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.message-users{
    background-color: #ffffff;
    transition: all 0.2s ease;
}

.message-users p{
    color: #A9A9A9;
}

.message-users:hover{
    background-color:#F1BDB2;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

.message-users:hover p{
    color: #9F6B46;
}

.message-users .notice{
    background-color: #F1BDB2;
}

.message-users:hover .notice{
    background-color: #ffffff;
}

.message-users i{
    color: #F1BDB2;
}

.message-users:hover i{
    color: #ffffff;
}

.message-board{
    background-color: #FFFBEB;
    width: 800px;
    height: 545px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.following-btn{
    font-size: 16px;
    color: #ffffff;
    background-color: #F1BDB2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.2s ease;
}

.following-btn:hover{
    font-size: 16px;
    color: #F1BDB2;
    background-color: #ffffff;
    border-color: #F1BDB2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.2s ease;
}



.follow-tab button{
    color: #F1BDB2;
    border-color: #F1BDB2;
    transition: all 0.2s ease;

}

.follow-tab:hover button{
    color: #ffffff;
    background-color: #F1BDB2;
}

.follow-btn{
    color: #F1BDB2;
    background-color: #ffffff;
    border-color: #F1BDB2;
    transition: all 0.2s ease;
}

.follow-btn:hover{
    color: #ffffff;
    background-color: #F1BDB2;
    
}